

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

    /* display: flex; */
    /* height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: aqua; */
}

.clock{
    height: 150px;
    width: 150px;
    border: 6px solid grey;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: relative;
}

.hand{
    width: 45%;
    height: 5px;
    background: black;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.8s;
    transition-timing-function: cubic-bezier(0.1, 0.27, 0.58, 1);

}

.clock-face{
    height: 100%;
    width: 100%;
    position: relative;
    transform: translateY(-3px);
}